:root {
    /* Colorful gradient used in the navigation bar */
  --navGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  --purple: RGBA(54, 54, 95, 1);
  --blue: RGBA(0, 117, 226, 1);
  --white: RGBA(254, 255, 255, 1);
  --grey: RGBA(128, 128, 128, 1);
  --light-grey: RGBA(242.5, 242.5, 242.5, 1);
  --grey-seeThrough: RGBA(188, 188, 189, 0.3);
}

/* Body font */
.font-inter {
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Used for all titles/labels/buttons  */
.font-metropolis {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

/* Put CSS Styles Here */

/* Global Styles */ 
* {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
    line-height: 1.75;
    /* background image */
    background-image: url("/assets/img/background.svg");
    background-color: var(--white);
    background-size: cover;
    background-position: center; 
}

p, span, h1, h2, h3, h4 {
    cursor: default;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}


a:visited {
    color: var(--white);
}

.page-wrapper {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.bold {
    font-weight: 800;
}

/* Header Styles */  

.page-header {
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    flex-flow: row;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1em 1.75em;
    align-items: center;
    background-color: var(--purple);
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.header-logo {
    display: flex;
    flex-basis: 250px;
}

.header-logo img {
    width: 285px;
    
}

.page-header-nav {
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: right;
	flex-wrap: wrap;
}

.page-header-nav nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    list-style: none;
} 

.page-header-nav nav ul li{
    display: inline;
    flex-basis: inherit;
}

.page-header-nav nav ul .nav-item {
    display: inline-block;
    height: 100%;
    padding-left: 1.75em;
} 

.page-header-nav nav ul .nav-item #home {
    position: relative;
    padding-bottom: 7.5px;
}

.page-header-nav nav ul .nav-item #home::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #444;
    background: var(--navGradient);
}

button:hover {
    cursor: pointer;
    opacity: 80%;
}

.focused {
    border: 2px solid chocolate !important;
}

.page-header-nav nav ul .nav-item #grid-button {
    display: flex;
    background: none;
    border: none;
}

.page-header-nav nav ul .nav-item #grid-button .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

.page-header-nav nav ul .nav-item #grid-button .grid .cell {
    background: white;
    border-radius: 1.5px;
    width: 7px;
    height: 7px;
    line-height: 10px;
    display: flex;
    align-items: center;
}

.page-header-nav nav ul .nav-item #circle-button {
    background: light-grey;
    border: 2px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 10px;
    display: flex;
    align-items: center;
}



/* Body Styles */

.main-content {
    display: block;
    width: 100%;
    min-height: 90vh;
    padding: 130px 155px 200px 155px;
}

.main-content .article-head {
    letter-spacing: .1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 0.75;
    border-bottom: 2.5px solid lightgray;
}

.main-content .article-head h1 {
    font-size: 1.75rem;

}

.main-content .article-head p {
    font-size: 1.15rem;
}

.main-content .alias-button-container {
    margin-top: 20px;
    float: right;
}

.main-content .alias-button {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: .05rem;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 8.5px;
    padding: 10px 12.5px;
    margin-right: 5px;
}

.main-content .alias-button span {
    font-weight: 600;
}

.account-content {
    display: block;
    margin-top: 100px;
}

.account-content-header {
    display: flex;
    font-size: 1.15rem;
    align-items: center;
    justify-content: space-between;
    color: var(--grey);
    width: 100%;
    padding: 0 10px;
}

.account-content-header .account-content-header-item {
    display: inline-block;
}

.account-content-header button {
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--grey);
    margin-left: 10px;
}

.slider-container {
    display: flex;
    justify-content: right;
	flex-wrap: wrap;
    align-items: center;
}

.slider-label {
    padding-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42.5px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--grey);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 5px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--blue);
}


input:focus + .slider {
    box-shadow: 0 0 1px var(--grey);
}

input:checked + .slider:before {
    -webkit-transform: translateX(16.5px);
    -ms-transform: translateX(16.5px);
    transform: translateX(16.5px);
}

/* inactive class */
.accounts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 0px 15px;
    border-radius: 5px;
    box-sizing: content-box;
    box-shadow: 0px 0px 3px 1px var(--grey-seeThrough);
    -webkit-box-shadow: 0px 0px 3px 1px var(--grey-seeThrough);
    -moz-box-shadow: 0px 0px 3px 1px var(--grey-seeThrough);
}

.account-name {
    padding-bottom: 5px;
}

.account-name h3 {
    font-weight: 600;
    display: inline;
}

.account-name button {
    display: inline;
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--grey);
    margin-left: 10px;
}

.show-details p {
    font-size: 1.15rem;
    font-weight: 400;
    display: inline;
    color: var(--grey);
}

.show-details button {
    display: table-cell;
    vertical-align: center;
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--grey);
    margin-left: 10px;
}

.account-email-info {
    display: flex;
}

.account-email-info span {
    display: block;
}

.account-email-info .email-info-text {
    padding-left: 50px;
    display: inline;
    text-align: center;
}

.account-email-info .email-info-inactive {
    opacity: 0.25;
}

.account-email-info .email-info-text p span {
   font-size: 2rem;
   font-weight: 800;
   color: #000;
   padding: 0;
   line-height: 2.5rem;
}

.account-email-info .email-info-text p {
    font-size: 1.15rem;
    color: var(--grey);
}


/* inactive class */
.account-details-container {
    display: none;
}

.account-details-container .account-details-content > * {
    color: var(--grey);
    display: inline-block;
}

.account-details-container .account-details-content {
    padding: 10px 0px;
}

.account-details-container .account-details-created h4, .account-details-container .account-details-email h4 {
    font-weight: 400;
    padding: 0;
    margin: 0;
} 

.account-details-container .account-details-created p, .account-details-container .account-details-email p {
    color: #000;
    padding: 0;
    margin: 0;
} 

.account-details-container .account-details-email {
    margin-left: 50px;
}   

.account-details-container .account-details-delete {
    display: inline-block;
}

.account-details-container .account-details-delete button {
    border: none;
    font-size: 1.15rem;
    letter-spacing: .05rem;
    color: var(--grey);
    background: var(--white);
    padding: 10px 20px;
    border-radius: 7.5px;
}

.disclaimer-container {
    margin-top: 25px;
}

/* Footer Styles */

.page-footer {
    font-size: 1.15rem;
    font-weight: 300;
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 1.5em 2em;
    align-items: center;
    background-color: var(--purple);
}

.footer-logo {
    display: flex;
    flex-basis: 250px;
}

.footer-logo img {
    width: 100px;
    
}

.page-footer-nav {
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: right;
	flex-wrap: wrap;
}

.page-footer-nav nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
} 

.page-footer-nav nav ul li{
    display: inline;
    flex-basis: inherit;
}

.page-footer-nav nav ul .nav-item {
    display: inline-block;
    height: 100%;
    padding-left: 1.75em;
}

.fa-github {
    font-size: 1.5rem;
} 

/* active classes */

.accounts-container-active {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.arrow-button-active {
    transform: scaleY(-1);
}

.account-details-container-active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--light-grey);
}

@media screen and (max-width: 800px) {
/* Reponsive Header Styles */

.header-logo img {
    width: 150px;
}

/* Reponsive Body Styles */

/* Reponsive Footer Styles */

}