:root {
    /* Colorful gradient used in the navigation bar */
  --navGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  --purple: RGBA(50, 50, 100, 1);
  --secondary-purple: RGBA(54, 54, 95, 1);
  --blue: RGBA(0, 117, 226, 1);
  --white: RGBA(254, 255, 255, 1);
  --grey: RGBA(128, 128, 128, 1);
  --orange: RGBA(254, 115, 0, 1);
  --light-grey: RGBA(242.5, 242.5, 242.5, 1);
  --grey-seeThrough: RGBA(188, 188, 189, 0.3);
  --light-grey-seeThrough: RGBA(188, 188, 189, 0.1);
}

/* Body font */
.font-inter {
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Used for all titles/labels/buttons  */
.font-metropolis {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

/* Put CSS Styles Here */

/* Global Styles */ 
* {
    box-sizing: border-box;
}

body {
    /* background image */
    background-color: var(--white);
    background-image: url("/assets/img/background.svg");
    background-position: center; 
    background-size: cover;
    line-height: 1.75;
    margin: 0;
    min-height: 100%;
}

p, span, h1, h2, h3, h4, h5 {
    cursor: default;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}


a:visited {
    color: var(--white);
}

.page-wrapper {
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
}

.bold {
    font-weight: 800;
}

/* Header Styles */  

.page-header {
    align-items: center;
    background-color: var(--purple);
    display: flex;
    flex-flow: row;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
    padding: 1em 1.75em;
    position: relative;
    width: 100%;
    /* box shadow */
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.header-logo {
    display: flex;
    flex-basis: 250px;
}

.header-logo img {
    width: 285px;
}

.page-header-nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: inherit;
}

.page-header-nav nav ul{
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
} 

.page-header-nav nav ul li{
    display: inline;
    flex-basis: inherit;
}

.page-header-nav nav ul .nav-item {
    display: inline-block;
    height: 100%;
    padding-left: 1.75em;
} 

.page-header-nav nav ul .nav-item #home {
    padding-bottom: 7.5px;
    position: relative;
}

.page-header-nav nav ul .nav-item #home::after {
    background: var(--navGradient);
    bottom: 0px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

button:hover {
    cursor: pointer;
    opacity: 80%;
}

.page-header-nav nav ul .nav-item #grid-button {
    background: none;
    border: none;
    display: flex;
}

.page-header-nav nav ul .nav-item #grid-button .grid {
    display: grid;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-header-nav nav ul .nav-item #grid-button .grid .cell {
    align-items: center;
    background: white;
    border-radius: 1.5px;
    display: flex;
    height: 7px;
    line-height: 10px;
    width: 7px;
}

.page-header-nav nav ul .nav-item #circle-button {
    align-items: center;
    background: light-grey;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    height: 60px;
    line-height: 10px;
    width: 60px;
}

.mobile-header-nav {
    display: none;
}

/* Body Styles */
.main-content {
    display: block;
    min-height: 90vh;
    padding: 130px 155px 200px 155px;
    width: 100%;
}

.main-content .article-head {
    align-items: baseline;
    border-bottom: 2.5px solid lightgray;
    display: flex;
    justify-content: space-between;
    letter-spacing: .1rem;
    line-height: 0.75;
}

.main-content .article-head h1 {
    font-size: 1.75rem;
}

.main-content .article-head p {
    font-size: 1.15rem;
}

.mobile-article-sub-head {
    display: none;
}

.main-content .alias-button-container {
    float: right;
    margin-top: 20px;
}

.main-content .alias-button {
    background-color: var(--blue);
    border: none;
    border-radius: 8.5px;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: .05rem;
    margin-right: 5px;
    padding: 10px 12.5px;
}

.main-content .alias-button span {
    font-weight: 600;
}

.account-content {
    display: block;
    margin-top: 100px;
}

.account-content-header {
    align-items: center;
    display: flex;
    color: var(--grey);
    font-size: 1.15rem;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
}

.account-content-header .account-content-header-item {
    display: inline-block;
}

.account-content-header button {
    background: none;
    border: none;
    color: var(--grey);
    font-size: 1rem;
    margin-left: 10px;
}

.slider-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.slider-label {
    padding-right: 10px;
}

.switch {
    display: inline-block;
    height: 25px;
    position: relative;
    width: 42.5px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.slider {
    background-color: var(--grey);
    border-radius: 20px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    /* transition styles */
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    background-color: var(--white);
    border-radius: 50%;
    bottom: 5px;
    content: "";
    height: 15px;
    left: 5px;
    position: absolute;
    width: 15px;
    /* transition styles */
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--blue);
}


input:focus + .slider {
    /* box shadow */
    box-shadow: 0 0 1px var(--grey);
}

input:checked + .slider:before {
    /* transition styles */
    -webkit-transform: translateX(16.5px);
    -ms-transform: translateX(16.5px);
    transform: translateX(16.5px);
}

/* inactive class */
.accounts-container {
    align-items: center;
    background-color: var(--white);
    border-radius: 5px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    /* box shadow */
    box-shadow: 0px 0px 3px 1px var(--grey-seeThrough);
    -webkit-box-shadow: 0px 0px 3px 1px var(--grey-seeThrough);
    -moz-box-shadow: 0px 0px 3px 1px var(--grey-seeThrough);
}

.account-name {
    padding-bottom: 5px;
}

.account-name h3 {
    display: inline;
    font-weight: 600;
}

.account-name button {
    background: none;
    border: none;
    color: var(--grey);
    display: inline;
    font-size: 1rem;
    margin-left: 10px;
}

.show-details p {
    color: var(--grey);
    display: inline;
    font-size: 1.15rem;
    font-weight: 400;
}

.show-details button {
    background: none;
    border: none;
    color: var(--grey);
    display: table-cell;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: center;
}

.account-email-info {
    display: flex;
}

.account-email-info span {
    display: block;
}

.account-email-info .email-info-text {
    display: inline;
    padding-left: 50px;
    text-align: center;
}

.account-email-info .email-info-inactive {
    opacity: 0.25;
}

.account-email-info .email-info-text p span {
    color: #000;
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
    padding: 0;
}

.account-email-info .email-info-text p {
    color: var(--grey);
    font-size: 1.15rem;
}


/* inactive class */
.account-details-container {
    display: none;
}

.account-details-container .account-details-content .mobile-account-email-info {
    display: none;
}

.account-details-container .account-details-content > * {
    color: var(--grey);
    display: inline-block;
}

.account-details-container .account-details-content {
    padding: 10px 0px;
}

.account-details-container .account-details-created h4, .account-details-container .account-details-email h4 {
    font-weight: 400;
    margin: 0;
    padding: 0;
} 

.account-details-container .account-details-created p, .account-details-container .account-details-email p {
    color: #000;
    margin: 0;
    padding: 0;
} 

.account-details-container .account-details-email {
    margin-left: 50px;
}   

.account-details-container .account-details-delete {
    display: inline-block;
}

.account-details-container .account-details-delete button {
    background: var(--white);
    border: none;
    border-radius: 7.5px;
    color: var(--grey);
    font-size: 1.15rem;
    letter-spacing: .05rem;
    padding: 10px 20px;
}

.disclaimer-container {
    margin-top: 25px;
}

/* Footer Styles */

.page-footer {
    align-items: center;
    background-color: var(--purple);
    display: flex;
    flex-flow: row;
    font-size: 1.15rem;
    font-weight: 300;
    padding: 1.5em 2em;
    width: 100%;
}

.footer-logo {
    display: flex;
}

.footer-logo img {
    width: 100px;
    
}

.page-footer-nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: inherit;
}

.page-footer-nav nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
} 

.page-footer-nav nav ul li{
    display: inline;
    flex-basis: inherit;
}

.page-footer-nav nav ul .nav-item {
    display: inline-block;
    height: 100%;
    padding-left: 1.75em;
}

.fa-github {
    font-size: 1.5rem;
} 

/* active classes */
.accounts-container-active {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.arrow-button-active {
    /* vertical flip */
    transform: scaleY(-1);
}

.account-details-container-active {
    align-items: center;
    background-color: var(--light-grey);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 15px;
}

.show-details .show-details-active {
    display: none;
}


@media screen and (max-width: 1000px) {

/* Reponsive Header Styles */
.page-header {
    padding: 1em 1em;
    z-index: 10;
    /* box shadow */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.header-logo img {
    width: 200px;
}

.header-nav-links {
    display: none;
}

.mobile-header-nav {
    background-color: var(--secondary-purple);
    color: var(--white);
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    text-align: center;
    width: 100%;
    /* box shadow */
    -webkit-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.75);
}

.mobile-header-nav .mobile-header-menu {
    /* box shadow */
    -webkit-box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.25);
}

.mobile-header-nav .nav-item {
    padding: 0.25rem 1rem;
}

.mobile-header-nav .nav-item:nth-child(1) {
    border-bottom: 1px solid var(--light-grey-seeThrough);
}

.mobile-header-nav .nav-item .fa-circle {
    align-items: center;
    color: var(--orange);
    font-size: 0.75rem;
    padding-right: 10px;
    vertical-align: middle;
}

.mobile-header-nav .mobile-header-menu h5 {
    display: inline;
    font-weight: 400;
}

.mobile-header-nav .mobile-header-menu button {
    background: none;
    border: none;
    color: var(--grey);
    display: inline;
    font-size: 1rem;
}

/* inactive */
.mobile-header-nav .mobile-nav-links {
    display: none;
}

/* Reponsive Body Styles */
.main-content {
    padding: 50px 100px 150px 100px;
}

.main-content .article-head {
    justify-content: center;
    text-align: center;
}

.main-content .article-head h1 {
    font-size: 1.25rem;
}

.main-content .article-head p {
    display: none;
}

.main-content .alias-button-container {
    float: none;
    text-align: center;
}

.mobile-article-sub-head {
    display: block;
    font-size: 1.15rem;
    text-align: center;
}

.mobile-article-sub-head p {
    margin-top: 5px;
}

.account-content {
    margin-top: 50px;
}

.account-content .account-content-header {
    justify-content: right;
    padding-bottom: 5px;
}

.account-content-header .account-content-add {
    display: none;
}

/* active classes */
.mobile-nav-links-active  {
    font-size: 1.25rem;
    list-style: none;
    margin: 0.25rem 0;
    padding: 0;
    text-align: right;
    width: 100%;
}

}


@media screen and (max-width: 830px) {

    /* Reponsive Header Styles */
    .page-header-nav nav ul .nav-item {
        padding-left: 1em;
    } 

    /* Reponsive Body Styles */
    .main-content {
        padding: 50px 25px 50px 25px;
    }

    .accounts-container {
        padding: 10px 15px;
    }

    .account-name button {
        margin-left: 0.5px;
    }

    .account-name h3 {
        font-size: 1.05rem;
    }

    .show-details p {
        font-size: 1.05rem;
    }
    
    .accounts-container .account-email-info {
        display: none;
    }

    .account-details-container .account-details-content {
        display: block;
        width: 100%;
    }

    .account-details-container .account-details-content .mobile-account-email-info {
        display: block;
        width: 100%;
    }

    .account-details-container .account-details-content .mobile-account-email-info span {
        color: #000;
        font-size: 1.75rem;
        float: right;
        font-weight: 800;
        line-height: 2rem;
        padding: 0;
    }

    .account-details-container .account-details-content .mobile-account-email-info p {
        text-align: left;
    }

    .mobile-account-email-info .email-info-inactive {
        opacity: 0.25;
    }

    .account-details-content .account-details-created {
        display: block;
        text-align: right;
    }

    .account-details-content .account-details-created h4 {
        display: inline;
        float: left;
    }

    .account-details-content .account-details-created p {
        display: inline;
        text-align: right;
    }

    .account-details-content .account-details-email {
        display: none;
    }

    .account-details-container .account-details-delete {
        padding-bottom: 20px;
        width: 100%;
    }

    .account-details-container .account-details-delete button {
        width: 100%;
    }
    
    /* Reponsive Footer Styles */
    .page-footer {
        flex-flow: column;
        padding: 2em 1.5em;
    }

    .footer-logo img {
        width: 150px;
    }
    
    .page-footer-nav {
        flex-direction: column;
        margin-top: 35px;
    }
    
    .page-footer-nav nav ul{
        flex-direction: column;
    } 
    
    .page-footer-nav nav ul li{
        padding: 10px 25px;
    }
    
    .fa-github {
        font-size: 2rem;
    } 
    
    }