:root {
    /* Colorful gradient used in the navigation bar */
  --navGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  --purple: RGBA(54, 54, 95, 1);
  --blue: RGBA(0, 117, 226, 1);
  --white-text: RGBA(254, 255, 255, 1);
}

/* Body font */
.font-inter {
    font-family: "Inter UI", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Used for all titles/labels/buttons  */
.font-metropolis {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

/* Put CSS Styles Here */

/* Global Styles */ 
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    line-height: 1.75;
    text-rendering: optimizeSpeed;
}

a {
    color: var(--white-text);
    text-decoration: none;
}


a:visited {
    color: var(--white-text);
}

.page-wrapper {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.bold {
    font-weight: 800;
}

/* Header Styles */  

.page-header {
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    flex-flow: row;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1em 1.75em;
    align-items: center;
    background-color: var(--purple);
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.logo {
    display: flex;
    flex-basis: 250px;
}

.logo img {
    width: 285px;
    
}

.page-header-nav {
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: right;
	flex-wrap: wrap;
}

.page-header-nav nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    list-style: none;
} 

.page-header-nav nav ul li{
    display: inline;
    flex-basis: inherit;
}

.page-header-nav nav ul .nav-item {
    display: inline-block;
    height: 100%;
    padding-left: 1.75em;
} 

.page-header-nav nav ul .nav-item #home {
    position: relative;
    padding-bottom: 7.5px;
}

.page-header-nav nav ul .nav-item #home::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #444;
    background: var(--navGradient);
}

button:hover {
    cursor: pointer;
    opacity: 80%;
}

.focused {
    border: 2px solid chocolate !important;
}

.page-header-nav nav ul .nav-item #grid-button {
    display: flex;
    background: none;
    border: none;
}

.page-header-nav nav ul .nav-item #grid-button .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

.page-header-nav nav ul .nav-item #grid-button .grid .cell {
    background: white;
    border-radius: 1.5px;
    width: 7px;
    height: 7px;
    line-height: 10px;
    display: flex;
    align-items: center;
}

.page-header-nav nav ul .nav-item #circle-button {
    background: light-grey;
    border: 2px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 10px;
    display: flex;
    align-items: center;
}



/* Body Styles */

.main-content {
    margin-top: 130px;
    display: block;
    width: 100%;
    justify-content: center;
    padding: 0 155px;
}

.main-content .article-head {
    letter-spacing: .1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 0.75;
    border-bottom: 2.5px solid lightgrey;
}

.main-content .article-head h1 {
    font-size: 1.75rem;

}

.main-content .article-head p {
    font-size: 1.15rem;
}

.main-content .alias-button-container {
    margin-top: 15px;
    float: right;
}

.main-content .alias-button {
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--blue);
    color: var(--white-text);
    border: none;
    border-radius: 5px;
    padding: 10px 12.5px;
    margin-right: 5px;
}

.main-content .alias-button span {
    font-weight: 600;
}

/* Footer Styles */


@media screen and (max-width: 800px) {
/* Reponsive Header Styles */

.logo img {
    width: 150px;
}

/* Reponsive Body Styles */

/* Reponsive Footer Styles */

}